@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body  {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}
.container {
  margin: 0 auto;
  max-width: 100vw;
}

.caption {
  width: 80%;
  margin: auto;
  overflow: hidden;
  position: relative;
  transform: translateZ(0);
  transform: translateZ(0);
}
#textContent {
  padding-left: 300px;
  padding-right: auto;
  width: 90vh;
  font-size: larger;
}

img {
  width: 80%;
}

button {
  padding: 1em;
  margin: .2em;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5em;
}

button:hover {
  background-color: cornflowerblue;
}
.overlayTitle {
  padding-bottom: 30px;
}
/* /* #titleCap:hover { } */
/*.overlay {
  text-align: left;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: white;
  transform: translateY(100%);
  transition: transform .35s ease-out;
}
img1:hover .caption .overlay {
  transform: translateY(0);
} */
.caption::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    transition: background .35s ease-out;
}

.caption:hover::before {
    background: rgba(0, 0, 0, .5);
}

#img1 {
    display: block;
    min-width: 100%;
    max-width: 100%;
    height: auto;
}

#titleCap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* padding: 10px; */
    color: white;

    -webkit-transform: translateY(100%);
            transform: translateY(100%);

    transition: -webkit-transform .35s ease-out;
    transition:         transform .35s ease-out;
}

.caption:hover #titleCap {
    -webkit-transform: translateY(0);
            transform: translateY(0);
}

.overlayTitle {
    -webkit-transform: translateY( -webkit-calc(-100% - 10px) );
            transform: translateY( calc(-100% - 10px) );

    transition: -webkit-transform .35s ease-out;
    transition:         transform .35s ease-out;
}

.caption:hover .overlayTitle {
    -webkit-transform: translateY(0);
            transform: translateY(0);
}