@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body  {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

.caption {
  width: 80%;
  margin: auto;
  overflow: hidden;
  position: relative;
}

img {
  width: 80%;
}

button {
  padding: 1em;
  margin: .2em;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5em;
}

button:hover {
  background-color: cornflowerblue;
}
#titleCap:hover {

}
/*.overlay {
  text-align: left;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: white;
  transform: translateY(100%);
  transition: transform .35s ease-out;
}
img1:hover .caption .overlay {
  transform: translateY(0);
} */